.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

body {
  background-color: #F5F5F5; }

.m-tool-bar {
  position: absolute; }

.m-bg-image {
  width: 100%;
  height: 320px; }

.m-input-search {
  font-size: 16px;
  padding-bottom: 0px;
  margin-left: 5px; }

.m-panel, .m-panel-sec-template {
  width: 100%;
  background-color: white;
  padding: 10px; }

.m-panel-sec-template {
  background-color: #607D8B;
  color: white; }

.m-menu-panel {
  background-image: url("/content/images/bg/bg-menu.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 56px; }

.transparent {
  background-color: transparent !important; }

.m-fab-bottom-right {
  position: fixed !important; }

.white-bg {
  background-color: white; }

md-list-item i {
  color: lawngreen; }

.right {
  float: right; }

a {
  text-decoration: none; }

.m-footer a {
  color: #78909C;
  margin-right: 10px; }
.m-footer h2 {
  color: #78909C; }

.m-sidenav-header {
  background-image: url("/content/images/other/sidenav-header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding: 20px;
  height: 165px; }

.m-avatar {
  width: 60px; }

.m-sidenav-item md-icon {
  font-size: 25px;
  margin-right: 20px;
  color: #78909C; }
.m-sidenav-item span {
  font-size: 20px; }

.m-sidebar-language {
  height: 20px;
  font-size: 20px; }

.m-template-sort {
  width: 70px;
  margin-left: 20px;
  margin-bottom: 0px;
  background-color: white; }

.m-template-search {
  width: 70px;
  margin-right: 20px;
  margin-bottom: 0px;
  background-color: white; }

.m-button, .m-google, .m-facebook, .m-twitter, .m-mail {
  z-index: 20;
  line-height: 48px;
  min-width: 0;
  width: 48px;
  height: 48px;
  margin: 5px;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  background-clip: padding-box;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-transition-property: background-color, box-shadow, -webkit-transform;
  transition-property: background-color, box-shadow, -webkit-transform;
  transition-property: background-color, box-shadow, transform;
  transition-property: background-color, box-shadow, transform, -webkit-transform;
  outline: none; }

.m-google {
  border-radius: 50%;
  background-image: url("/content/images/icons/google-plus.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.m-facebook {
  border-radius: 50%;
  background-image: url("/content/images/icons/facebook.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.m-twitter {
  border-radius: 50%;
  background-image: url("/content/images/icons/twitter.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.m-mail {
  border-radius: 50%;
  background-image: url("/content/images/icons/mail.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.m-paypal-button {
  background-image: url("/content/images/icons/paypal.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; }

.m-creditcard-button {
  background-image: url("/content/images/icons/credit-card.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; }

button[md-ink-ripple] {
  color: white;
  position: relative; }

.blue {
  color: blue; }

.white {
  color: white; }

.red-active {
  color: #FF5722; }

.m-notification-active {
  color: #FF5722 !important; }

.m-toast {
  width: 180px;
  left: 8px;
  top: 10px;
  position: fixed; }

.m-toast-error .md-toast-content {
  background-color: #FF5722; }

.m-toast-warning .md-toast-content {
  background-color: orange; }

.m-bottom-sheet {
  width: 100%;
  height: 150px;
  position: fixed; }

.m-1-line {
  white-space: nowrap; }

/*# sourceMappingURL=main.css.map */
